<div class="portlet light">
    <div class="portlet-title">
        <h2>Settings</h2>
        <p>Settings for your company</p>

        <form novalidate name="tenantForm">
            <form-portlet portlet-title="Time registration">
                <form-radio-buttons options="['No', 'Yes']" label-title="Enabled"
                                    input-name="timelogging_enabled" field="vm.tenant.timelogging_enabled">
                </form-radio-buttons>

                <form-radio-buttons ng-if="vm.tenant.timelogging_enabled" options="['No', 'Yes']" label-title="Billable default value"
                                    input-name="billing_default" field="vm.tenant.billing_default">
                </form-radio-buttons>
            </form-portlet>

            <div class="hl-form-footer">
                <div class="row">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2"></div>
                    <div class="col-xs-12 col-sm-9 col-md-8 col-md-7 col-lg-4">
                        <button type="button" class="hl-primary-btn-blue" ng-click="vm.saveSettings(tenantForm)">
                            <i class="fa fa-check"></i> Save
                        </button>
                        <!--<button type="button" class="hl-primary-btn" ng-click="vm.cancelIntegration()">
                            Cancel
                        </button>-->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
